body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.color-palette-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.controls {
    padding-top: 25px;
}

canvas {
    border: 2px solid black;
    cursor: crosshair;
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color-palette {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.eraser {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10%;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 5%;
    cursor: pointer;
    border: 1px solid #000;
}

#brush-size-value {
    margin: 0 10px;
}

#line-brush {
    background-color: rgba(255, 0, 0, 0.5);
}

.color-picker {
    margin-top: 10px;
}

.color-picker-button {
    width: 40px;
    height: 40px;
    background: url('../images/wheel.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

#eraser-brush {
    width: 50px;
    height: 50px;
    background: url('../images/Untitled-3.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}